@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@500&family=Orbitron&family=Rubik:wght@500&family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Montserrat:wght@500&family=Orbitron&family=Rubik:wght@500&family=Work+Sans:wght@600&display=swap');

:root {
    --lipstick: #E6563B;
    --yellowish: #EB9D3A;
    --woobie: #7CB06C;
    --sealteal: #00ABA9;
    --silver-surfer: #F0F0F0;
    --gunmetal: #E6E6E6;
}
* {
    /*background-color: var(--gunmetal);*/
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}
html {
    background-color: var(--gunmetal);
}
.logo >img {
    margin: 0;
    height: 105px;
    width: 105px;
    z-index: 1;
}
nav {
    background-color: #F0F0F0;
    height: 60px;
    margin-top: 3em;
}
.content {
    padding-top: 2em;
    background-color: var(--gunmetal);
    margin-right: 0;
}
p {
    font-size: 2.5em;
}
nav ul {
    list-style-type: none;
    background-color: var(--gunmetal);
    display: flex;
    justify-content: space-between;
}
.xs-nav-list {
    list-style-type: none;
    background-color: var(--gunmetal);
    display: flex;
    justify-content: center;
}
.container {
    background-color: var(--gunmetal);
    margin: 0;
}
.xs-nav-list li {
    padding: 0 4px;
}
h1 {
    font-family: "Anton";
    display: block;
    justify-content: center;
    flex-wrap: wrap;
}
h3 {
    font-family: "Anton";
}
.circle {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 5px solid white;
    font-family: "Anton";
}
.col-6 {
    margin-top: 3em;
}
.red-circle {
    background-color: var(--lipstick)
}
.yellow-circle {
    background-color: var(--yellowish);
}
.green-circle {
    background-color: var(--woobie);
}
.teal-circle {
    background-color: var(--sealteal);
}